@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

body{
    background-color: #e3dec8;
    background-size: cover;
    text-align: center;
    align-items: center;
}
#titulo{
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color:black;
}
#boton{
    background-image: url('../img/cara.png');
    border-radius: 50%;
    border: none;
    background-repeat:no-repeat;
    height:115px;
    width:115px;
    background-size: 130px 130px;
    background-position:center;
    transition: all 0.5s;

}
#boton:hover{
    background-color: #8f5252;
}
#boton1{
    background-image: url('../img/sello.png');
    border-radius: 50%;
    border: none;
    background-repeat:no-repeat;
    height:115px;
    width:115px;
    background-size: 130px 130px;
    background-position:center;
    transition: all 0.5s;

}

input[type=text] {
    border-radius:10px;
    box-shadow: 5px 3px #888888;
    border: none;
    padding: 12px 20px;
    margin: 8px 8px;
  }

#boton1:hover{
    background-color: #8f7852;
}
h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    color: #000000;

}